window.bar {
  font-family: "FiraCode Nerd Font SemBd";
  font-size: 15px;
  background: #010101;
  color: #cdd6f4;
}

.clientTitle {
  color: #cdd6f4;
  background: #11111b;
}

.date {
  color: #cdd6f4;
  background: #11111b;
}
